@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f3f4f6;

}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f3f4f6;
    font-size: 1.6rem;
    margin-top: .5%;
    padding-left: 4.5%;


}

.text-link {
    text-decoration: none;
    color: black;

}

.text-link.text {
    transition: box-shadow 250ms ease-in-out;
}

.text-link.text:hover {
    box-shadow: inset 0px -8px #e5e5e5;
}

.head-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-right: 1.8%;
}

.shop-wrapper {
    display: flex;
    justify-content: space-around;
}


.shop-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 3%;
    padding-bottom: 5%;


}

img {
    height: 300px;
    width: 300px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;

}

button {
    width: 50%;
}

.cart-foot {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3em;
    opacity: .8;

}

.cart-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;

}

.cart-product-display {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: max-content;
    border: 1px solid black;
    padding: 1% 2%;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8%;
    width: 200px;
    font-size: 1.2rem;
    font-weight: 400;
}

.cart-img {
    height: 250px;
    width: 250px;
}

.quant-wrapper {
    display: flex;
    gap: 5%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

span.size-35 {
    font-size: 35px;
    font-variation-settings: 'OPSZ' 20;
    padding-top: 5px;
}

.quant-btn,
.add-cart {
    width: max-content;
    background-color: #f3f4f6;
    border-radius: 0;
    border: solid 2px black;
}

.add-cart {
    padding: 1.2% 1.8%;
    font-size: 1.2rem;
}

.checkout-btn:hover,
.quant-btn:hover,
.add-cart:hover {
    filter: invert(87%) sepia(83%) saturate(0%) hue-rotate(271deg) brightness(103%) contrast(102%);
}

.checkout-btn {
    width: max-content;
    padding: .9%;
    border: none;
    background-color: #ffffff;
    font-size: .9rem;
    font-weight: 600;
}

.navbar {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.nav-items {
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid #33332d;
    padding: 10px 20px;
    transition: box-shadow 300ms ease-in-out;
}

.nav-items:hover {
    box-shadow: 8px 5px #33332d;
}

.price {
    background-color: black;

}

.main-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-link {
    font-size: 2.2rem;
    font-weight: 700;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 7px 10px black, 8px 10px black;
}